body {
    overflow-x: hidden;
}
.Content {
    margin: 0 12% 0 12%;
}
h5 {
text-decoration: underline;
}
p {
    width: 65%;
    overflow-wrap: normal;
}
.Contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15em;
    gap: 25px;
}
.ContactList {
    grid-column: 1 / 2;
    grid-row: 1;
}
.Avatar {
    grid-column: 2 / 2;
    grid-row: 1;
    margin-right: 45%;
}
figure {
    border: thin navajowhite solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 120px;
    margin: auto;
}
figcaption {
    background-color: gray;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.Summary {
    grid-column: 1 / 2;
    grid-row: 1;
}
.Skills {
    grid-column: 2 / 2;
    grid-row: 1;
}
.WorkExperience {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.Education {
    grid-column: 2 / 2;
    grid-row: 2;
}
.CodeExamples {
    grid-column: 2 / 2;
    grid-row: 3;
}
.EnglishProficiency {
    grid-column: 2 / 2;
    grid-row: 4;
}
aside {
    width: 55%;
    padding-left: 1rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #29627e;
}
div.FooterContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.FooterContent div{
    margin: 25px;
}
.Logo img {
    width: 25%;
    height: auto;
}
summary {
    outline: none;
}